@import url('https://fonts.googleapis.com/css?family=Spartan:500,700&display=swap');

// Colors:
$primary: hsl(180, 29%, 50%);
$lightGrayishCyan: hsl(180, 52%, 96%);
$filterBg: hsl(180, 31%, 95%);
$darkCyan: hsl(180, 8%, 52%);
$veryDarkCyan: hsl(180, 14%, 20%);

// Weights
$weight1: 500;
$weight2: 700;

// Start
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html { 
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    background: $lightGrayishCyan;
}
// Helper Classes
.background {
    height: 156px;
    width: 100%;
    background: $primary;
    background-image: url("./images/bg-header-desktop.svg");
    background-position: center;
    background-size: cover;
    margin-bottom: 75px;
    position: relative;
    #filter-container {
        position: absolute;
        bottom: -30%;
        width: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        padding: 20px;
        border-radius: 5px;
        background: white;
        transform-origin: top;
        opacity: 1;
        transition: .3s all ease-in-out;
        display: flex;
        align-items: center;
        &.hidden {
            opacity: 0;
            transform: translate(-50%, -1000%);
        }
    }
}
.filter-btn {
    margin-right: 10px;
    border-radius: 5px;
    font-size: 15px;
    color: $primary;
    background: $lightGrayishCyan;
    height: 25px;
    width: 125px;
    padding: 10px;
    display: flex;
    align-items: center;
    &.active {}
}
.badge {
    border-radius: 20px;
    background: black;
    color: white;
    padding: 5px 10px;
    // margin-left: 10px;
    text-transform: uppercase;
    font-weight: $weight2;
    font-size: 11px;
}
.badge.featured {
    background: $veryDarkCyan;
}
.badge.new {
    background: $primary;
}
// Main Code
.content {
    width: 100%;
    .job-profile-listing {
        width: 75%;
        margin: 0 auto;
        margin-bottom: 50px;
        border-radius: 5px;
        height: 150px;
        box-shadow: 0px 15px 20px -10px rgba($darkCyan, 0.2);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 50px;
        background: white;
        &--column-1 {
            justify-self: flex-start;
            display: flex;
            align-items: center;
            .profile-image {
                margin-right: 20px;
            }
            .profile-details {
                .badge-container {
                    color: $primary;
                    font-weight: $weight2;
                    span {
                        position: relative;
                        top: -5px;
                    }
                    span:first-child {
                        margin: 0px 5px;
                    }
                }
                .title {
                    margin: 10px 0px;
                }
                .other-details {
                    color: $darkCyan;
                    span:first-child {
                        margin-right: 10px;
                    }
                    span:not(:first-child) {
                        margin: 0 10px;
                    }
                }
            
            }

        }
        &--column-2 {
            justify-self: flex-end;
            .tags {
                .tag {
                    margin-right: 10px;
                    border-radius: 5px;
                    font-size: 15px;
                    color: $primary;
                    background: $lightGrayishCyan;
                    padding: 5px 15px;
                    &:last-child {
                        margin-right: 0;
                    }
                    transition: .2s all ease-in-out;
                    cursor: pointer;
                    &:hover {
                        color: $lightGrayishCyan;
                        background: $primary;
                    }
                }
                .tag.selected {
                    color: $lightGrayishCyan;
                    background: $primary;
                }
            }
        }
        &.featured-new {
            border-left: 3px solid $primary;
        }
    }
}
// Screen sizes..
@media (max-width: 375px) {
    .background {
        background-image: url("./images/bg-header-mobile.svg");
    }
}
// Remove later..
.attribution {
    display: none;
}